
header{
    width:100%;
    display: flex !important;
    padding: 25px 50px;
    font-size: large;
    justify-content: space-between;
    background-color: black;
    color:white;
}

header > div > a{
    text-decoration: none;
    color: white;
}


.logof-button{
    background-color: inherit;
    color:white;
    border:none;
    font-size: medium;
    cursor: pointer;
}
.header-item{
    display: contents;
}